.card-container {
  width: 260px;
  display: flex;
  justify-content: center;
  text-align: center;
  /* flex-direction: column; */
  flex-wrap: nowrap;
  background-color: burlywood;
  padding-top: 1rem;
}
.card {
  background-color: brown;
  width: 14rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1.2rem;
  border-radius: 20px;
}

img {
  width: 130px;
  height: 120px;
}

p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}
